<h1>Generate</h1>
<!-- 
<%= form_for(@code) do |f| %>
 <%= select_tag(:id, options_for_select([['One Week',1],['Two Weeks',2],['One Month',3]])) %> 




 # <%= select(:token, :timevalid,[['One Week',1],['Two Weeks',2],['One Month',3]]) %>
  <%= f.submit "Create link", class: "btn btn-large btn-primary" %> 
<% end %> -->

<%= simple_form_for @code do |f| %>
 <%= f.input :valid_through, :as => :string, :input_html => { :class => 'jquery-ui-date', :value => @code.try(:recorded_at).try(:strftime,'%m/%d/%Y')} %>
 <%= f.input :timevalid, :as => :hidden, :input_html => { :id => 'date'} %>
  <%= f.button :submit, :disable_with => "Aan het opslaan...", :value => "Opslaan" %>
  <% end %>
