<h1>Show all Tokens</h1>


<ul class="tokens">

<%= will_paginate %>

<li>
  	<span class ='userid'>
  	User id |
  	</span>
  	<span class ='timevalid'>
  	Valid until |
  	</span>
  	<span class="content">
  		Private hash |
  	</span>

  	<span class="timestamp">
    Created at
  	</span>
	</li>

<% @static_pages.each do |token| %>

  	<li>
  	<span class ='userid'>
  		<%= token.user_id %> |
  	</span>
  	<span class ='timevalid'>
  		<%= Time.at(token.timevalid).utc.to_datetime %> |
  	</span>
  	<span class="content">
  	  <%= link_to "TOKEN", request.protocol + request.host_with_port + url_for(users_path) + "/"+ token.token %> |
  	</span>

  	<span class="timestamp">
    	Created <%= time_ago_in_words(token.created_at) %> ago |
  	</span>

  	<span class="content">
      <% @token_hash = token.token %>
  		 <%= link_to 'Delete', tokens_path(@token_hash), method: :delete, data: { confirm: 'Are you sure?'} %>
  	</span>


	</li>
  <% end %>

	<%= will_paginate %>

</ul>
